package pages

import "github.com/dxps/user_dir_dgp/internal/ui/comps"

templ Page(title string) {
	@comps.Layout() {
		<h1>User Directory</h1>
		<h3>{ title }</h3>
		<div class="container"></div>
	}
}
